/* global */

html {
  box-sizing: border-box;
  /*для плавной прокрутки у ЯКОРНЫХ ссылок*/
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* overall */

.body {
  background-color: #f2f2f2;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* filtering */

.filtering {
  min-height: 412px;
  background-color: rgb(122, 148, 182);
  background-image: url("../images/catalog-filter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hotels */

.hotels__pagination {
  display: flex;
  gap: 8px;
}

.pagination__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
}

.pagination__item--white {
  background-color: inherit;
}